.SearchTagCard{
    width:300px;
    height:300px;
    background-color: white;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    /* margin-bottom:50px; */
    /* display:flex;
    justify-content: center;
    align-items: center; */
    display: inline-block;
    box-sizing: border-box;
    margin:15px;
}

.Tagmodal{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.Tagmodal1{
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: 1fr 7fr 1fr;
}
.TagmodalInfo{
    width:100%;
    height:100%;
    /* background-color: yellow; */
}
.Tag2avatarImage{
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
    background-color: black;
    display: inline-block;
}
.TagmodalImg{
    width:100%;
    height:100%;
    background-color: black;
}
.TagmodalButton{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.Tagmodal2{
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.Tagmodal21{
    padding-left: 10px;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 3fr 1fr;
    background-color: black;
    color:white;
}

.Tagmodal211{
    box-sizing: border-box;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color:white;
}

.Tagmodal212{
    box-sizing: border-box;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color:white;
}

.Tagmodal22{
    padding-left: 10px;
    box-sizing: border-box;
}