.IntroButtonBox{
    /* position:relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.Box{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}


@media screen and (max-width: 768px) {
    /* 모바일 */

}