.ReceiveLetterCard{
    width:100%;
    height:300px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-bottom: 50px;
    box-sizing: border-box;
    display:grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.RLC_sender{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 8fr 2fr;
    /* background-color: black;
    color:white; */
}

.RLC_senderName{
    width:100%;
    height:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
}

.RLC_tlidx{
    width:100%;
    height:100%;
    display:flex;
    justify-content:flex-end;
    align-items: center;
    padding-right: 20px;
    box-sizing: border-box;
}

.RLC_content{
    width:1000px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.RLC_date{
    box-sizing: border-box;
    width:100%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;

}

.RLC_Modal{
    width:100%;
    height:600px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}

.RLC_info{
    width:100%;
    height:100%;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
}

.RLC_name{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left:20px;
}

.RLC_modalcontent{
    width:100%;
    height:100%;
}

.RLC_photo{
    width:100%;
    height:500px;
    background-color: black;
}

.RLC_modalButton{
    width:100%;
    height:100%;
}

.RLC_modalButton2{
    width:500px;
    height:50px;
    
}