.TimeLineListContent{
    width:100%;
    height:300px;
    display: grid;
    grid-template-rows: 1fr 7fr;

}
.TimeLineListContentTitle{
    width:100%;
    height:100%;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
    border-radius: 10% 10% 0% 0%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.TimeLineListContentContent{
    width:100%;
    height:100%;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    border-radius: 0% 0% 5% 5%;
    display: grid;
    grid-template-rows: 6fr 1fr;
    box-sizing: border-box;
}
.TimeLineListContentContent1{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TimeLineListContentContent2{
    width:100%;
    height:100%;
    /* display:flex;
    justify-content: center;
    align-items: center; */
    display:grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
    border-radius: 0% 0% 10% 10%;
    border:none;
}

.TimeLineListContentContent2_1{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    border:1px solid white;
    color:white;
}

.TimeLineListContentContent2_2{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    border:1px solid white;
    color:white;
}
.TimeLineListContentContent2_1:hover{
    background-color: white;
    color:black;
}

.TimeLineListContentContent2_2:hover{
    background-color: white;
    color:black;
}