.TimeLineCreateButton{
    width:100px;
    height:100px;
    background-color: white;
    border-radius: 5px;
    transition: width 0.4s ease;
}
.TimeLineCreateButton:hover{
    width: 110px;
}
.TimeLineCreateButton:active{
    background-color:gray;
}
