.TimeCapsuleCard{
    width:100%;
    height:300px;
    background-color: white;
    margin-top:30px;
    box-sizing: border-box;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    display:grid;
    grid-template-columns: 6fr 1fr;
}
.TimeCapsuleCardContent{
    width:100%;
    height:100%;
}

.TimeCapsuleCardContentTitle{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jua', sans-serif;
}
.TimeCapsuleCardContentFeedback{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jua', sans-serif;
}


.TimeCapsuleCardRemain{
    width:100%;
    height:100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}


.CapsuleModal1{
    width:100%;
    height:10%;
    background-color: black;
    color:white;
    font-family: 'Jua', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
}

.CapsuleModal2{
    width:100%;
    height:40%;
    overflow:scroll;
    overflow-x: hidden; 
    overflow-y:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
.CapsuleModal3{
    width:100%;
    height:10%;
}

.CapsuleModal4{
    width:100%;
    height:40%;
    display:flex;
    justify-content: center;
    align-items: center;
}