.LetterContent{
    width:100%;
    height:600px;
    background-color: white;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 7fr 3fr;
}
.LetterContent1{
    width:100%;
    height:100%;
}
.LetterContent2{
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: 3fr 1fr 1fr 1fr;
}



.LetterContentImage1{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LetterContentImage11{
    background-color: gray;
    width:300px;
    height:300px;
}


.filebox {box-sizing: border-box; height:100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.filebox label {height:56px; box-sizing:border-box; padding:0; display: block; color: #999; font-size: inherit; line-height: normal; vertical-align: middle; background-color: #fdfdfd; cursor: pointer; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; width:280px; text-align: center;} 
.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.filebox label:hover{
    background-color: black;
    color:white;
}
.fileboxInput{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}