.UserPageContent{
    width:100%;
    height:100%;
}

.UserInfo{
    width:100%;
    height:100px;
    /* background-color: green; */
    display:grid;
    grid-template-columns: 2fr 6fr 2fr;
}

.UserInfo1{
    width:100%;
    height:100px;
    /* background-color: black; */
    display:flex;
    justify-content: center;
    align-items: center;
}

.UserPageAvatar{
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}
.UserPageName{
    font-size: 2rem;
    margin-bottom:10px
}
.userInfo2{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.userInfo3{
    width:100%;
    height:100%;
    /* background-color: black; */
    display:grid;
    grid-template-rows: 1fr 1fr;
}
.userInfo31{
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.userInfo32{
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.uuserBox{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.uuserBox1{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .userBox2{
    display: flex;
    justify-content: center;
    align-items: center; */
/* } */
.uuserBox3{
    display: flex;
    justify-content: center;
    align-items: center;
}