.TimeCapsulebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    right:20px;
    bottom:105px;
    width:75px;
    height:75px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
}

.TimeCapsulebutton:hover{
    background-color: gray;
    color:white
}



@media screen and (max-width: 1250px) {
    .TimeCapsulebutton{
        position:fixed;
        right:20px;
        bottom:105px;
        width:75px;
        height:75px;
        border-radius: 50%;
        background-color: black;
        display:none;
    }
}