.TimeLineFeed{
    width:100vw;
    min-width: 1000px;
    position: relative;
}
/* .Home2NewNav{
    z-index: 9999;
} */
.TimeLineFeedBox{
    width:100%;
    position: absolute;
    top:60px;
    display: flex;
    justify-content: center;   
}


@media screen and (max-width: 768px) {
}