.Home2ImageModal2ContentUser1111{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.d110{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.d111{
    width:100%;
    height:100%;    
    display:flex;
    justify-content: center;
    align-items: center;
}

.d112{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.Home2ImageModalContentUser1111{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
    /* background-color: red; */
}
