/* .TimeCapsuleList{
    background-color: antiquewhite;
    width:100%;
    height: 100%;
    border-radius: 5rem;
    grid-template-rows: 1fr 4fr;
    display:grid;
}
.TimeCapsuleListCreate {
    background-color: white;
    border-radius: 5rem 5rem 0rem, 0rem;
} */