.NoLogin2 {
    width: 100vw;
    height:100vh;
    background-color: white;
    display: grid;
    grid-template-rows: 6fr 4fr;
}
.NoLogin2Top{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.NoLogin2Bottom{
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: 2fr 2fr 5fr 1fr;
}
.NoLogin2Bottom1{
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Nanum  Gothic', sans-serif;
    font-weight: bold;
}
.NoLogin2Bottom2{
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.NoLogin2Bottom3{
    background-color: white;
}
.NoLogin2Bottom4{
    background-color: white;
}
.NoLogin2Input {
    position: relative;
    width: 13%;
    margin-bottom: 1rem;
    right:1%;
  }
  .NoLogin2Input input[type="text"],
  .NoLogin2Input input[type="email"],
  .NoLogin2Input input[type="password"] {
    appearance: none;
    height: 40px;
    width: 100%;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    color: black;
    transition-property: border, color;
    transition-duration: 400ms;
  }
  .NoLogin2Input input[type="text"]:focus,
  .NoLogin2Input input[type="email"]:focus,
  .NoLogin2Input input[type="password"]:focus {
    border: 2px solid black;
    color: black;
  }
  
  .NoLogin2Input input[type="text"]:focus + .iconLeft,
  .NoLogin2Input input[type="email"]:focus + .iconLeft,
  .NoLogin2Input input[type="password"]:focus + .iconLeft {
    opacity: 1;
  }
.NoLogin2Input2 {
    position: relative;
    width: 7%;
    margin-bottom: 1rem;
    left:1%;
  }
  .NoLogin2Input2 input[type="text"],
  .NoLogin2Input2 input[type="email"],
  .NoLogin2Input2 input[type="password"] {
    appearance: none;
    height: 40px;
    width: 100%;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    color: black;
    transition-property: border, color;
    transition-duration: 400ms;
  }
  .NoLogin2Input2 input[type="text"]:focus,
  .NoLogin2Input2 input[type="email"]:focus,
  .NoLogin2Input2 input[type="password"]:focus {
    border: 2px solid black;
    color: black;
  }
  
  .NoLogin2Input input[type="text"]:focus + .iconLeft,
  .NoLogin2Input input[type="email"]:focus + .iconLeft,
  .NoLogin2Input input[type="password"]:focus + .iconLeft {
    opacity: 1;
  }