.FeedsBottomFeeds{
    width:100%;
    height:100%;
    /* background-color: black; */
    border-radius: 0rem 0rem 3rem 0rem;
    display:grid;
    grid-template-rows: 1fr 7fr;
}
.FeedsBottomFeedsTop{
    width:100%;
    height:100%;
    /* background-color: red; */
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.FeedsBottomFeedsTop1{
    width:30%;
    height:100%;
    /* background-color: blue; */
    /* display:flex;
    justify-content: center;
    align-items: center; */
}
.FeedsBottomFeedsTop1_{
    width:100%;
    height:50%;
    /* background-color: green; */
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.FeedsBottomFeedsTop1_2{
    width:100%;
    height:50%;
    /* background-color: green; */
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.FeedsBottomFeedsMiddle{
    width:100%;
    height:100%;
}