.Home2Card{
    /* position: absolute; */
    height:300px;
    width:300px;
    margin:15px;
    display: inline-block;
    box-sizing: border-box;
}

.Home2CardImageOffImage1{
    display: flex;
    justify-content: center;
    align-items: center;
}


.Home2CardImageOffImage2In{
    position: absolute;
    background-color:black;
    opacity: 0.5;
    width:300px;
    height:300px;
    color:white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}




.Home2CardImageOn{
    height:300px;
    width:300px;
    margin:15px;
    display: inline-block;
    box-sizing: border-box;
}

.Home2CardImageOnImage2In{
    position: absolute;
    background-color:black;
    opacity: 0.5;
    width:300px;
    height:300px;
    color:white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Home2ImageModal{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 5fr 3fr;
    border:None;
}

.Home2ImageModalContent{
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: 1fr 6fr 1fr 1fr 1fr;
}
.Home2ImageModalContentUser{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 8fr 1fr;
}
.Home2ImageModalContentUser2{
    display:flex;
    justify-content: center;
    align-items: center;
}

.Home2avatarImage {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
 }

.Home2ImageModalContentContent{
    box-sizing: border-box;
    padding:10px;
    width:100%;
    height:300px;
    overflow:scroll;
    overflow-x: hidden; 
    overflow-y:auto


}

.Home2ImageModalContentInfo{
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.Home2ImageModalContentEmotion{
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.Home2ImageModalContentEmotionCount{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}


.Home2ImageModal2{
    display:grid;
    grid-template-rows: 1fr 6fr 1fr 1fr 1fr ;
}
.Home2ImageModal2ContentBox{
    width:100%;
    height:100%;
}
.Home2ImageModal2ContentContent{
    display: flex;
    justify-content: center;
    align-items: center;
}


.Home2ImageModal2ContentInfo{
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.Home2ImageModal2ContentEmotion{
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.Home2ImageModal2ContentEmotionCount{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

.Home2ImageModal2ContentUser{
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 8fr 1fr;
}
.Home2ImageModal2ContentUser2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home2ImageModalImage111{
    height:500px;
}