.SearchTimelineCard{
    width:100%;
    height:200px;
    background-color: white;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    margin-bottom:50px;
    display:grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.SearchTimelineCard1{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchTimelineCard2{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchTimelineCard3{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}